<div class="card">
    <div class="post-header">
        <header><a href="/comment/{{this.id}}" data-postid="{{this.id}}">{{this.title}}</a></header>
        <div class="post-info">
            <p>Posted by {{this.user.username}} on {{this.date}}</p>
        </div>
    </div>
    <div class="post-content">
        {{this.content}}
    </div>
</div>